/* ---------
    RESET
-----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -----------
    GENERAL
-------------*/

body {
    background-color: #f6f5f3;
}

main {
    font-family: "Montserrat", sans-serif;
    padding: 1.25rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

/* -------------
    TYPOGRAPHY
---------------*/

h1 {
    font-family: "Nerko One", cursive;
    font-size: 2.875rem;
    color: #ff9614;
    text-align: center;
    text-shadow: 1px 1px 1px #827f7f;
    padding: .9375rem 1.5625rem;
}

.recipe-intro h2 {
    color: #4e3969;
    padding: 1.25rem 0;
    font-size: 1.75rem;
}

.recipe-presentation h2 {
    margin-top: 1.875rem;
    margin-bottom: .75rem;
    font-size: 1.75rem;
    font-weight: 500;
}

/* ------------
    BUTTONS
--------------*/

.btn-social {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    margin: 1.875rem 0;
    background-color: #fff;
    border-radius: 1.25rem;
    padding: .625rem .875rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

/* ------------
    HEADER
--------------*/

header {
    background-color: #fff;
    /* position: sticky;
    top: 0;
    left: 0;
    z-index: 10; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* ------------
    MAIN
--------------*/

/* RECIPE INTRO */

h2 span {
    display: none;
}

.recipe-intro>h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: grey;
    font-size: 1.125rem;
}

.recipe-details {
    background-color: #fff;
    padding: 1.5625rem 0 2.5rem 1.25rem;
}

.recipe-details h3 {
    font-size: 1rem;
}

ul {
    list-style: none;
}

li {
    padding: .625rem 0;
    font-size: .75rem;
}

li p {
    font-weight: 300;
}

/* SOCIAL BUTTONS */

.fa-facebook {
    color: #1a77f3;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #dc3da3;
}

.fa-pinterest {
    color: #e62222;
}

.fa-youtube {
    color: #e62222;
}

.btn p {
    display: none;
}

/* RECIPE PRESENTATION */

.recipe-presentation hr {
    border: 1px solid #f7972e;
    width: 15%;
    margin-bottom: 1.875rem;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe .img-fluid {
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1.25rem;
}

.recipe p {
    font-size: .875rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin-bottom: 1.5625rem;
}

/* ------------
    FOOTER
--------------*/

footer {
    background-color: #7c69a4;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: .75rem;
    color: #fff;
}

footer h4 {
    padding-top: 1.5625rem;
    padding-bottom: .625rem;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: .625rem;
}

footer a {
    color: #fff;
    padding: 0 .9375rem;
}

nav {
    width: 26.25rem;
    margin-left: auto;
    margin-right: auto;
}

/* --------------
    RESPONSIVE
----------------*/

/* Viewport MOBILE fino a 480px */

/* Viewport LARGE MOBILE da 576px */

@media screen and (min-width: 576px) {

    .recipe {
        display: block;
    }
    
    .recipe .img-fluid {
        float: left;
        width: 40%;
        margin-right: .625rem;
        margin-top: .625rem;
        margin-bottom: .625rem;
    }

    .btn-social {
        gap: 1.5625rem;
    }

    .btn {
        width: 100%;
    }

}

/* Viewport MOBILE fino a TABLET 767px */

@media screen and (max-width: 767px) {

    .banner {
        display: none;
    }

}

/* Viewport TABLET da 768px */

@media screen and (min-width: 768px) {

    h1 {
        text-align: left;
    }

    h2 span {
        display: inline;
    }

    .recipe-details ul {
        display: flex;
        flex-wrap: wrap;
    }

    .recipe-details li {
        width: calc(100% / 3);
    }

    .btn-social {
        gap: 1.5625rem;
    }

    .btn {
        width: 100%;
    }

    .recipe {
        display: block;
    }

    .recipe .img-fluid {
        float: left;
        width: 40%;
        margin-right: .625rem;
        margin-top: .625rem;
        margin-bottom: .625rem;
    }

    footer ul {
        justify-content: center;
        padding-top: .625rem;
    }

    nav {
        width: 100%;
    }

}

/* Viewport DESKTOP da 992px */

@media screen and (min-width: 992px) {

    .row {
        flex-direction: row;
    }

    .col .img-fluid {
        width: 70%;
    }

    .recipe-details {
        width: 30%;
    }

    .recipe-details li {
        width: 100%;
    }

    .btn p {
        display: inline;
        padding-left: .1875rem;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

   footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   }

   .general-info h4, .general-info p {
    text-align: left;
    padding-left: .9375rem;
    padding-bottom: .9375rem;
   }

   .general-info, nav {
    width: 50%;
   }

   footer a {
    padding: 8px;
}

    footer ul {
        justify-content: flex-end;
        padding-right: .9375rem;
    }